.cover {
    min-width: 100%;
    min-height: 576px;
    background-image: url('../../images/overlay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-attachment: fixed;
    top: 0;
    z-index: -1;
}

@media (max-width: 1023px) {
    .cover {
        min-height: 400px;
    }
}

@media (max-width: 700px) {
    .cover {
        min-height: 536px;
    }
}
