@import url(./__logout-svg/button__logout-svg.css);

.button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    transition: opacity .4s;
}

.button:hover {
    opacity: .9;
}
