.popup__label {
    display: block;
    color: #2F71E5;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-top: 31px;
}

.popup__label:first-of-type {
    margin-top: 22px;
}
