@import url(./_theme/_light/header__border_theme_light.css);
@import url(./_theme/_dark/header__border_theme_dark.css);
@import url(./_open/header__border_open.css);
@import url(./_mobile-menu/header__border_mobile-menu.css);


.header__border {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 104px;
    z-index: 5;
    min-height: 80px;
}

@media (max-width: 1023px) {
    .header__border {
        padding: 0 40px;
        min-height: 66px;
    }
}

@media (max-width: 700px) {
    .header__border {
        padding: 0 16px;
        min-height: 56px;
    }
}
