.saved-articles__description {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

@media (max-width: 1023px) {
    .saved-articles__description {
        font-size: 18px;
        line-height: 24px;
    }
}
