.search__container {
    display: flex;
    justify-content: center;
    margin: 64px 0 80px;
    background-color: white;
    border-radius: 100px;
}

@media (max-width: 1023px) {
    .search__container {
        margin: 48px 0;
    }
}

@media (max-width: 700px) {
    .search__container {
        flex-direction: column;
        align-items: center;
        margin: 122px 0 32px;
        background-color: inherit;
    }
}
