@import url('./__circle/preloader__cirlce.css');
@import url('./_show/preloader_show.css');
@import url('./__container/preloader__container.css');

.preloader {
    width: 100%;
    background-color: #F5F6F7;
    min-height: 374px;
    justify-content: center;
    align-items: center;
    display: none;
}
