@import url(__title/card__title.css);
@import url(__image/card__image.css);
@import url(__description/card__description.css);
@import url(__content/card__content.css);
@import url(__data/card__data.css);
@import url(__publisher/card__publisher.css);
@import url(__heading/card__heading.css);
@import url(__text/card__text.css);
@import url(__icon/card__icon.css);
@import url(__keyword/card__keyword.css);
@import url(__message/card__message.css);
@import url(__message-text/card__message-text.css);

.card {
    display: block;
    height: 576px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .card {
        height: 420px;
    }
}

@media (max-width: 700px) {
    .card {
        height: 440px;
    }
}
