@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
    min-height: 100vh;
    font-family: Roboto, Inter, "Roboto Slab", arial, sans-serif;
    /* Сглаживание для браузеров */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* Оптимизация при масштабировании */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    /* Рендеринг */
    text-rendering: optimizeLegibility;
}
