@import url(./__title/result__title.css);
@import url(./__button/result__button.css);
@import url(./__list/result__list.css);

.result {
    background-color: #F5F6F7;
    width: 100%;
    padding: 80px 0;
}

@media (max-width: 1023px) {
    .result {
        padding: 40px 0;
    }
}
