.saved-articles__content {
    margin-left: 104px;
}

@media (max-width: 1023px) {
    .saved-articles__content {
        margin-left: 40px;
    }
}

@media (max-width: 700px) {
    .saved-articles__content {
        margin-left: 16px;
    }
}
