.result__button {
    display: block;
    border: none;
    background: #FFFFFF;
    border-radius: 80px;
    margin: 64px auto 0;
    width: 288px;
    height: 64px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}
