@import url(./_auth/header__button_auth.css);
@import url(./_logout/header__button_logout.css);
@import url(./_theme/_light/header__button_theme_light.css);
@import url(_theme/_dark/header__button_theme_dark.css);

.header__button {
    display: block;
    height: 48px;
    border-radius: 100px;
}

@media (max-width: 1023px) {
    .header__button {
        height: 40px;
    }
}

@media (max-width: 700px) {
    .header__button {
        height: 56px;
        width: 288px;
        margin: 0 auto;
    }
}
