.search__description {
    max-width: 545px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

@media (max-width: 1023px) {
    .search__description {
        max-width: 452px;
    }
}

@media (max-width: 700px) {
    .search__description {
        max-width: 288px;
    }
}

