@import url('./_active/header__button_auth_active.css');

.header__button.header__button_auth {
    display: none;
    width: 176px;
}

@media (max-width: 1023px) {
    .header__button.header__button_auth {
        width: 152px;
    }
}

@media (max-width: 700px) {
    .header__button.header__button_auth {
        height: 56px;
        width: 288px;
    }
}
