@import url(./_auth/popup__link_auth.css);
@import url(./_auth/popup__link_auth.css);

.popup__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2F71E5;
}
